header {
    height: 150px;
    min-width: 1024px;
    width: 90%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    position: relative;
    width: 180px;
    height: 150px;
}

header .caixa-vazia {
    width: 180px;
}
