main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.conteudo-principal {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 87%;
    margin-top: 25px;
}

.texto-finalizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 87%;
}

.titulo-texto-finalizacao {
    font-family: 'Luckiest Guy', cursive;
    color: #A67E62;
    font-size: 110px;
    margin-top: 10px;
}

.titulo-conteudo-principal {
    font-family: 'Luckiest Guy', cursive;
    color: #A67E62;
    font-size: 33px;
    margin-bottom: 10px;
}

#painel-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botao-avaliar{
    color: white;
    background-color: #A67E62;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 15px;
}

#botao-avaliar:hover {
    color: white;
    background-color: gray;
}

#campos-entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 635px;
    height: 65px;
    gap: 10px;
}

.campo-entrada {
    width: 65px;
    height: 65px;
    background-color: #A67E62;
    border-radius: 20px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    color: white;
}

#painel-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabela-tentativas {
    width: 500px;
    border: 3px solid #A67E62;
    border-radius: 20px;
    overflow: hidden;
}

.linha-tabela {
    display: flex;
    width: 100%;
    height: 5.9vh;
    max-height: 50px;
    justify-content: space-between;
    border-bottom: 3px solid #A67E62;
}

.linha-tabela:last-child {
    border-bottom: none;
}

.item-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 2px dashed #A67E62;
}

.item-tabela:last-child {
    border-right: none;
}

.posicao-correta {
    background-color: #c4e49c;
}

.posicao-incorreta {
    background-color: #EBEC94;
}

.letra-incorreta {
    background-color: #eda0a0;
}
